<nav class="navbar navbar-expand-lg shadow bg-white position-relative">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="./assets/images/logo.jpg" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="p-3 d-none d-lg-block">
      <h3>نسعد بالتواصل معنا على info@monafsat.net</h3>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="myNav">
      <ul class="list-unstyled">
        <div class="bg-danger p-1" dir="ltr">
          <a href="#" class="me-auto">
            <img src="./assets/images/logeuotIcon.jpg" class="w-25" alt="" />
          </a>
        </div>

        <div class="user-info">
          <img src="./assets/images/tendersIcon.jpg" alt="" />
          <h3>Ahiefb3662</h3>
          <p>حالة الإشتراك: نشط</p>
          <hr />
        </div>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="app/dashbord"
            routerLinkActive="active-link"
          >
            <i class="fa-solid fa-house ms-3"></i>
            لوحة التحكـــــــــــــم
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="app/interests"
            routerLinkActive="active-link"
          >
            <i class="fa-solid fa-heart ms-3"></i>
            إهتماماتـــــــي
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="app/tenders"
            routerLinkActive="active-link"
          >
            <i class="fa-solid fa-chart-column ms-3"></i>
            منافسات
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="app/prediction"
            routerLinkActive="active-link"
          >
            <i class="fa-solid fa-tower-broadcast ms-3"></i>
            التنبؤات
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="app/availableTenders"
            routerLinkActive="active-link"
          >
            <i class="fa-solid fa-file-contract ms-3"></i>
            العطاءات السارية
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="app/suppliersProfile"
            routerLinkActive="active-link"
          >
            <i class="fa-solid fa-file-contract ms-3"></i>
            الملف التعريفي
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="app/subscriptionStripe"
            routerLinkActive="active-link"
          >
            <i class="fa-solid fa-file-invoice-dollar ms-3"></i>
            الإشتراكات والرصيد
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="app/userProfile"
            routerLinkActive="active-link"
          >
            <i class="fa-solid fa-id-card ms-3"></i>
            الملف الشخصي
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
